{% extends "home/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section" style="height: 100vh; display: flex; justify-content: center; align-items: center; background-color:#d9f0f3;">
    <div class="menu" style="border-radius: 5px; width:80%; height:90%; background-color: #accfd9; display: flex; align-items: center; padding-left: 5%;">
        <img src="{{ user.profile.image.url }}" style="border-radius: 50%; height: 100px; width: 100px; margin-right: 20px;">
        <h1>abc</h1>
    </div>
</div>

{% endblock %}
