{% extends "users/main_profile.html"%}

{% block profile_details %}


    <div class="additional-info" style="width: 80%; background-color: white; margin-top: 20px; border-radius: 10px; padding: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
        <h2 style="font-size: 20px; font-weight: bold; color: #003a5d;">About </h2>

        <p style="font-size: 16px; color: #333; margin-top: 10px;"><strong>Description:</strong> {{ user.profile.about_profile }}</p>

        <p style="font-size: 16px; color: #333; margin-top: 10px;"><strong>Number of Logged Dives:</strong> {{ dodać }}</p>
    </div>

    <div style="width: 80%; margin-top: 20px;">
        <h2>Posts</h2>
    </div>
{% endblock %}
